# Ignorar archivos y carpetas comunes

# Python/Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
venv/
env/
*.env
*.log
db.sqlite3
media/
/django/venv
/django/venv/*
/django/files/*
# React
node_modules/
build/
/dist/
.DS_Store
react/.vite/*
.idea
react/.vite

mongodb/db
